.hit {
    background-color: grey;
}

.miss{
    background-color: cornflowerblue;
}

.unknown{
    background-color: lightgrey;
}

.tile{
    float:left;
    border: 1px;
    border-color: black;
    height: 2em;
    width: 2em;
    text-align: center;
}

div{
  overflow:hidden;
}
